fuse/brmsRequest.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="batch-execution">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="insert">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="com.redhat.brms.mortgageappvalidation.Application">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:int" name="socialSecurityNumber"/>
                    <xs:element type="xs:int" name="annualIncome"/>
                    <xs:element type="xs:string" name="address"/>
                    <xs:element type="xs:int" name="salesPrice"/>
                    <xs:element type="xs:int" name="downPayment"/>
                    <xs:element type="xs:byte" name="amortization"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="out-identifier"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:string" name="fire-all-rules"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="lookup"/>
    </xs:complexType>
  </xs:element>
</xs:schema>