fuse/homeloancust.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Application">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:int" name="socialSecurityNumber"/>
        <xs:element type="xs:int" name="annualIncome"/>
        <xs:element type="xs:string" name="address"/>
        <xs:element type="xs:int" name="salesPrice"/>
        <xs:element type="xs:int" name="downPayment"/>
        <xs:element type="xs:byte" name="amortization"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="infoType"/>
    </xs:complexType>
  </xs:element>
</xs:schema>